@charset "UTF-8";
/*@import url(font-awesome.min.css);*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  font-family: 'Roboto', sans-serif;
}
header{
  background-color: #191919;
  padding-top: 120px;
  background-image: url("../img/overlay.png"), url("../img/pattern-size1.svg");
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
  min-height: 100vh;
  /*min-height: 35em;*/
}
#deadline{
  color: #fff;
  font-size: 2em;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.margin-top-20{
  margin-top:20px;
}
#bronze-sponsors > div > a > img {
  max-width: 240px;
  max-height: 150px;
  width: 100%;
}

.sponsors-info-content {
  font-weight: 300;
  font-size: 18px;
}

.grey-text-color{
  color: #999999;
}

#splash{
  width:100%;
  height: 100%;
}

#partners{
  margin-top: 80px;
}

#silver-sponsors > div > a >img {
  max-width: 400px;
  width:  100%;
}
.sponsors {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.registration {
  font-size: 20pt;
  color: white;
}
.sponsors-info {
  padding-left: 60px;
  padding-right: 60px;
}
.btn-primary{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 20px 60px;
  transition: all .2s ease-out;
  border-radius: 12px;
}
.btn-primary:hover{
  border-color: #aa001d;
  color:#ffffff;
  background-color: inherit;
}
.vc {
  display: flex;
  align-items: center;
}
#main-btns{
  margin-top: 20px;
}

#gold-sponsors {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 7.0 + */
  -webkit-align-items: center; /* Safari 7.0 + */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#gold-sponsors img {
  max-width: 500px;
  max-height: 250px;
  margin: 10px 0;
  padding: 0 20px;
}

#silver-sponsors {
  padding-top: 20px;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 7.0 + */
  -webkit-align-items: center; /* Safari 7.0 + */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  #gold-sponsors, #silver-sponsors {
    border-bottom: 1px solid rgba(207, 17, 45, 0.3);
  }
}

#silver-sponsors img {
  max-width: 350px;
  max-height: 200px;
  margin: 10px 0;
  padding: 0 20px;
}

#bronze-sponsors {
  padding-top: 20px;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 7.0 + */
  -webkit-align-items: center; /* Safari 7.0 + */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#bronze-sponsors img {
  max-width: 200px;
  max-height: 150px;
  margin: 10px 0;
  padding: 0 20px;
}

.content{
  padding: 10px;
  margin-left:20px;
  margin-right: 20px;
}

section:nth-child(even){
  background-color: #fbfbfb;
  border-bottom: solid 2px #eeeeee;
}
section:nth-child(odd){
  background-color: #fff;
}
section{
  padding-bottom: 30px;
}
#about{
  font-weight: 300;
  font-size: 21px;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact{
  font-weight: 300;
  background-color: #f0f0f0;
}

#contact input{
  border-radius: 2px;
}

.contact-content {
  text-align: center;
  font-size: 16px;
}

img.displayed{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-default{
  background-color: transparent !important;
  border-color:transparent !important;
}
#navbar-logo{
  height:80px;
  width:auto;
  margin-top: 15px;
}
.title{
  margin-top: 0px;
  padding-top: 30px;
}
.question{
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid rgba(207, 17, 45, 0.3);
  padding: 3px 0;
}
.answer{
  padding: 5px;
}

.association{
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0;
}

#footer-logos .row{
  text-align: right;
}

#social-media-icons>img{
  max-width:150px;
}
#social-media-icons{
  padding-top: 10px;
}
.navbar-default.affix{
  background: #aa001d !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #ffffff;
  background-color: #aa001d;
  }
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffff;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-nav>li>a{
  color:#ffffff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color:white;
  background-color:#191919;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent;
  border: solid 1px white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  font-size: 15px;
  margin-top: 30px;
  font-weight: 400;
  text-align: right;
  padding-right: 150px;
}

.social-link{
  width:50px;
  height: auto;
  margin:20px;
}

.submitBtn:hover{
  background: #aa001d;
  color:white;
}

#application-deadline{
  color: white;
}

.time {
  font-size:24px;
}

#hack-date{
  font-size: 1.3em;
  color: #f2f2f2;
  margin: 15px;
}

@media (max-width: 768px) {
  #navbar-logo {
    height:40px;
  }

  .navbar-collapse {
    background: #aa001d !important;
  }
  .navbar-collapse>li>a:hover{ 
    background: black;
  }
  .association{
    font-size: 12px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-right: 20px;
    padding-left: 100px; 
  }
}

@media (max-width: 500px) {
  #gold-sponsors img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 400px) {
  #silver-sponsors img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 300px) {
  #bronze-sponsors img {
    width: 100%;
    height: auto;
  }
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

@media (max-width: 768px) {
  #mlh-trust-badge {
    padding-top: 80px;
    right: 0px;
    left: 10px;
  } 
}
